# Back End 
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version

# virtualenv files 
.env           
.venv          
venv/          
flask-backend/venv/ 
# database files
*.db
*.sqlite3

# Front End

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
.pnp/
.pnp.js

